
<ion-content padding >
  <div id="component">
    <div class="component2">
      <p class="ion-text-center" >
        <img style="width: 300px;" src="../../../assets/Logo.png"><strong><br>
          <ion-label class="text1" >Cadastro<br></ion-label><a style="font-size: 15px;" >Faça seu cadastro, entre na plataforma de gestão para seu evento</a>
        </strong>
      </p>
    </div>
  
    <div id="input">
      <br>
      <br>
        <ion-item lines="none" style="width: 90%; height: 40px; box-shadow: 0 0 100px rgba(0,0,0, 0.1);  margin-left: 20px;  background-color: rgba(255, 255, 255, 0); border: solid 1px #dcdce6 ; border-radius: 7px; " >
          <ion-input type="text"  placeholder="Nome da Empresa"></ion-input>
        </ion-item>
        <br>
        <ion-item lines="none" style="width: 90%; height: 40px; box-shadow: 0 0 100px rgba(0,0,0, 0.1);  margin-left: 20px;  background-color: rgba(255, 255, 255, 0); border: solid 1px #dcdce6 ; border-radius: 7px; " >
          <ion-input type="text"  placeholder="E-mail"></ion-input>
        </ion-item>
        <br>
        <ion-item lines="none" style="width: 90%; height: 40px; box-shadow: 0 0 100px rgba(0,0,0, 0.1);  margin-left: 20px;  background-color: rgba(255, 255, 255, 0); border: solid 1px #dcdce6 ; border-radius: 7px; " >
          <ion-input type="number"  placeholder="Whatsapp"></ion-input>
        </ion-item>
        <br>
        <ion-row>
          <ion-col size="8" >
            <ion-item lines="none" style="width: 90%; height: 40px; box-shadow: 0 0 100px rgba(0,0,0, 0.1);  margin-left: 20px;  background-color: rgba(255, 255, 255, 0); border: solid 1px #dcdce6 ; border-radius: 7px; " >
              <ion-input type="text"  placeholder="Cidade"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="3" >
            <ion-item lines="none" style="width: 90%; height: 40px; box-shadow: 0 0 100px rgba(0,0,0, 0.1);  margin-left: 20px;  background-color: rgba(255, 255, 255, 0); border: solid 1px #dcdce6 ; border-radius: 7px; " >
              <ion-input type="text"  placeholder="UF"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <br>
      <ion-button (click)="cadastrar()" class="button">Cadastrar</ion-button>
        <p style="margin-left: 20px;" >
          <fa-icon size="1x" style="color:#304483"  slot="start" [icon]="faArrowLeft"></fa-icon>
          <ion-label (click)="login()" style="margin-left: 8px; font-size: 15px; color:#333; font-weight: 700; font-family: 'Roboto', sans-serif !important ;" >Voltar para o login</ion-label>
        </p>
    </div>
  </div>
</ion-content>
